.footer {
    width: 100%;
    background-color: #F9F9F9;
    padding-top: 40px;
    padding-bottom: 25px;
    border-top: 1px solid rgba(28, 28, 28, 0.1);
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &__logo {
            position: relative;
            &__icon {
                &__image {
                    width: 160px;
                    height: 52px;
                    transition: 0.3s ease;
                    &:hover {
                        opacity: 0.9;
                    }
                }
            }
            &__name {
                font-size: 14px;
                font-weight: 500;
                color: #828282;
                margin-top: 18px;
            }
            &__org {
                font-size: 14px;
                font-weight: 500;
                color: #828282;
                margin-top: 15px;
            }
        }
        &__menu-one {
            position: relative;
            &__item {
                &:not(:last-child) {
                    margin-bottom: 13px;
                }
                &__link {
                    font-size: 16px;
                    font-weight: 500;
                    @include dark;
                    transition: 0.3s ease;
                    &:hover {
                        @include green-main;
                    }
                }
            }
        }
        &__menu-second {
            position: relative;
            &__item {
                &:not(:last-child) {
                    margin-bottom: 13px;
                }
                &__link {
                    font-size: 16px;
                    font-weight: 500;
                    @include dark;
                    transition: 0.3s ease-in-out;
                    &:hover {
                        @include green-main;
                    }
                }
            }
        }
        &__info {
            position: relative;
            &__item-address {
               font-size: 20px;
               font-weight: 600;
               @include dark;
            }
            &__item-time {
                font-size: 18px;
                font-weight: 600;
                @include dark;
                margin-top: 13px;
                span {
                    font-weight: 500;
                }
             }
        }
        &__contacts {
            position: relative;
            &__phone {
                font-size: 20px;
                font-weight: 600;
                @include dark;
                transition: 0.3s ease;
                display: block;
                &:hover {
                    @include green-main;
                }
            }
            &__whatsapp {
                display: flex;
                align-items: center;
                margin-bottom: 13px;
                &__number {
                    font-size: 20px;
                    font-weight: 600;
                    @include dark;
                    transition: 0.3s ease;
                    margin-right: 10px;
                    margin-top: 3px;
                    &:hover {
                        @include green-main;
                    }
                }
                &__icon {
                    width: 28px;
                    height: 28px;
                }
            }
            &__email {
                font-size: 18px;
                font-weight: 500;
                @include dark;
                transition: 0.3s ease;
                margin-top: 13px;
                display: block;
                &:hover {
                    @include green-main;
                }
            }
        }
    }
    &__divider {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        height: 1px;
        background-color: rgba(28, 28, 28, 0.1);
    }
    &__basement {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        &__left {
            display: flex;
            flex-direction: column;
            &__document {
                font-size: 14px;
                font-weight: 500;
                color: #828282;
            }
            &__organization {
                font-size: 14px;
                font-weight: 500;
                color: #828282;
                margin-bottom: 10px;
            }
        }
        &__since {
            font-size: 14px;
            font-weight: 500;
            color: #828282;
        }
        &__right {
            display: flex;
            flex-direction: column;
            &__legal {
                font-size: 16px;
                margin-bottom: 10px;
                font-weight: 500;
                color: #828282;
                transition: 0.3s ease;
                &:hover {
                    @include green-main;
                }
            }
            &__privacy {
                font-size: 16px;
                font-weight: 500;
                color: #828282;
                transition: 0.3s ease;
                &:hover {
                    @include green-main;
                }
            }
        }
        
    }
}