.callback {
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
    &__wrap {
        width: 650px;
        background-color: #fff;
        border-radius: 10px;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        &__content {
            padding: 40px 50px 45px 50px;
            overflow: auto;
        }
        &__close {
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: -60px;
            background-color: #fff;
            border-radius: 100%;
            cursor: pointer;
            top: 0;
            &__icon {
                width: 20px;
                height: 20px;
            }
        }
        &__title {
            font-size: 22px;
            font-weight: 600;
            @include dark;
            text-align: center;
            text-transform: uppercase;
        }
        &__subtitle {
            width: 445px;
            margin: 0 auto;
            font-size: 18px;
            font-weight: 500;
            color: #828282;
            text-align: center;
            margin-top: 10px;
        }
        &__form {
            margin-top: 25px;
            &__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                margin-bottom: 20px;
                align-items: baseline;
                &__label {
                    font-size: 16px;
                    font-weight: 500;
                    @include dark;
                    margin-bottom: 5px;
                }
                &__input {
                    width: 100%;
                    padding: 12px 20px;
                    border-radius: 10px;
                    border: 1px solid rgba(28, 28, 28, 0.2);
                    font-size: 18px;
                    font-weight: 500;
                    @include text;
                    &:focus {
                        border: 1px solid #92BEF8;
                        outline: 1px solid #92BEF8;
                    }
                    &::placeholder {
                        font-size: 18px;
                        font-weight: 500;
                        color: #BDBDBD;
                    }
                }
            }
            &__select {
                position: relative;
                &__title {
                    font-size: 16px;
                    font-weight: 500;
                    @include dark;
                    margin-bottom: 5px;
                }
                &__wrap {
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 15px;
                        background: url(../icons/arrow-down.svg);
                        width: 14px;
                        height: 8px;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        pointer-events: none;
                    }
                    &__item {
                        width: 100%;
                        padding: 12px 45px 12px 20px;
                        border-radius: 10px;
                        border: 1px solid rgba(28, 28, 28, 0.2);
                        cursor: pointer;
                        font-size: 16px;
                        font-weight: 500;
                        @include text;
                        appearance: none;
                        -moz-appearance: none;
                        -webkit-appearance: none;
                        background-color: #fff;
                        &::-ms-expand {
                            display: none;
                        }
                        &:focus {
                            border: 1px solid #92BEF8;
                            outline: 1px solid #92BEF8;
                        }
                        &__option {
                            font-size: 16px;
                            font-weight: 500;
                            @include text;
                        }
                    }
                }
            }
            &__privacy {
                margin-top: 25px;
                display: flex;
                align-items: center;
                input[type="checkbox"] {
                    display: none;
                }
                label::before {
                    content: '';
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    background-color: #EDEDED;
                    vertical-align: middle;
                    margin-right: 10px;
                    transition: 0.3s ease;
                    margin-left: -30px;
                    transform: translateY(2px);
                }
                input[type="checkbox"]:checked + label::before {
                    content: '';
                    width: 20px;
                    height: 20px;
                    background-image: url(../icons/check.svg);
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                &__text {
                    font-size: 14px;
                    font-weight: 500;
                    @include dark;
                    cursor: pointer;
                    padding-left: 30px;
                    a {
                        @include green-main;
                        transition: 0.3s ease;
                        font-weight: 500;
                        font-size: 14px;
                        &:hover {
                            @include dark;
                        }
                    }
                }
            }
            &__btn {
                width: 100%;
                font-size: 16px;
                font-weight: 500;
                @include green-main-bg;
                color: #fff;
                text-transform: uppercase;
                border-radius: 10px;
                padding: 18px 30px;
                text-align: center;
                margin-top: 30px;
                border: 1px solid #409300;
                cursor: pointer;
                transition: 0.3s ease;
                &:hover {
                    opacity: 0.95;
                }
            }
        }
    }
}
